@import './commons/Header.scss';
@import './commons/Layout.scss';
@import './commons/Loading.scss';
@import './commons/Navbar.scss';
@import './commons/SnackbarMessage.scss';

@import './list/PostList.scss';

body {
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}
