@import './PostDetailsActions.scss';
@import './PostDetailsComment.scss';
@import './PostDetailsComments.scss';

.post-details {
  padding: 24px;

  &__header {
    &-subtitle {
      margin-top: 5px !important;
    }
  }

  &__content {
    margin: 24px 0;
  }
}
