.post-comments {
  margin: 0 -24px -24px;
  padding: 24px;
  background-color: #eee;

  &__header {
    padding-bottom: 20px;
    margin-bottom: 20px;
    border-bottom: 1px solid #ccc;
  }

  &__form-comment {
    margin-bottom: 20px;

    .form-comment {
      &__form {
        margin-top: 10px;

        &-field {
          margin: 0 10px;
          width: 50%;

          &:first-child {
            width: 15%;
          }
        }

        &-button {
          margin: 0 20px;
        }
      }
    }
  }

  &__content {
    &-loading {
      text-align: center;
    }
  }
}
